<div class="row">
  <div class="col s12">
    <div class="card blue-grey lighten-2">
      <div class="card-content white-text">
        <span class="card-title">New Homework</span>
        <form action="/welcome/create_homework">
          <input type="text" name="subject" placeholder="Subject">
          <input type="text" name="teacher" placeholder="Teacher Name">
          <input type="text" name="content" placeholder="Homework Content">
          <input class="btn waves-effect waves-light" type="submit">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% @homeworks.each do |homework| %>
    <%= render partial: "homework_db", locals: { homework: homework } %>
  <% end %>
</div>
