<!DOCTYPE html>
<html>
<head>
  <title>Homework+</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<style>
  .moveimage
{
    position: relative;
    top: 5px;
}
</style>
<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a class="brand-logo"><img src="http://teddyh.io/cdn/hwplus-tiny.png" width="270" height="60"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://teddyh.io">Developer Homepage</a></li>
      </ul>
    </div>
  </div>
</nav>

<body>
  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>
</body>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Homework+</h5>
        <p class="grey-text text-lighten-4">Private Beta RC1 3.0 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- HWPRO -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-8825593113199975"
     data-ad-slot="9801907645"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></p>
      </div>
      <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://docs.google.com" target="_blank">Google Docs</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://play.spotify.com" target="_blank"> Spotify</a></li>
                </ul>
              </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Teddy Jinsong Hwang
    </div>
  </div>
</footer>
</html>
